<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="application-modal" class="modal fade" id="application-modal">

    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Ứng tuyển</h4>
                <button type="button" class="close close-modal" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form action="#" id="task-modal-form">
                <div class="modal-body">
                    <div class="jFiler jFiler-theme-dragdropbox" style="padding-bottom: 20px">
                        <input type="file" hidden="hidden" name="cv-file" id="filer-input">
                        <a class="btn btn-upload-file btn-success " id="user-cv" style="color: white">
                            <i class="fa fa-upload "></i> Chọn file
                        </a>

                    </div>

                    <div class="form-group">
                        <label for="name">Họ và tên</label>
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Họ tên hiển thị với nhà tuyển dụng"/>
                    </div>

                    <div class="form-group">
                        <label for="phone">Số điện thoại</label>
                        <input type="text" name="phone" id="phone" class="form-control"
                               placeholder="Số điện thoại hiển thị với nhà tuyển dụng"/>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" id="email" name="email"
                               placeholder="Email hiển thị với nhà tuyển dụng"/>
                    </div>

                    <div class="form-group">
                        <label for="description">Thư giới thiệu</label>
                        <textarea rows="4" class="form-control" id="description" name="description"
                                  placeholder="Viết giới thiệu ngắn gọn về bản thân (điểm mạnh, điểm yếu) vè nêu rõ mong muốn, lý do làm việc tại công ty này. Đây là cách gây ấn tượng với nhà tuyển dụng nếu bạn chưa có kinh nghiệm làm việc (hoặc CV không tốt)"></textarea>
                    </div>
                </div>
            </form>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="save-cv" >Nộp CV</button>
                <button type="button" class="btn btn-secondary close-modal" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>

</div>
</body>
</html>