* { margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #acb0b4 ;
    font-family: "roboto",sans-serif;
}
.card{
    margin:100px;
    width: 600px;
    height: 450px;
    background-color: rgb(194, 193, 144);;
    overflow: hidden;
    position: relative;
}
img{
    max-width: 100%;
   transition: all 1s;

}
.image{
    max-width: 100%;
}
.KDA{
    max-width: 50%;
    position: absolute;
    top: 10px;
    left:1em;
}
.icon{
    max-width: 50%;
    position: absolute;
    bottom:0px;
    left:1em;
    z-index: 1;
    font-size: 1.5em;
    color: #fff
}
.icon2{
    max-width: 50%;
    position: absolute;
    bottom:0px;
    right:1em;
    z-index: 1;
    font-size: 1.5em;}
.content{
    background-color: rgb(194, 193, 144);
    position: relative; 
    transition: all 1s;
    top:60px;
}
h4 {
    position:absolute;
    right:0px;
    bottom:140px;
    background-color: goldenrod;
    color: #FFF;
    border: none;
    font-size: 15px;
    padding: 15px;
    font-style:italic;
}
h3{
    color:red;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    
}

.card:hover .image img{
    transform: scale(1.1,1.1);
    opacity: 0.7;
    cursor: pointer;
}
.card:hover .content{
    top:-100px;
    transition: all 1s;
    cursor: pointer;
} 

p{color:green;
    padding:3px;
    margin:5px;
    text-align: center;
    
}

