img{
    width: 100%;
    object-fit: cover;
    opacity: 0.9;
}
.image{
    position: relative;
}
.khung{
    position:absolute;
    top:300px;
    background-color: #ffff;
    right:500px;
    border:none;
    
}
.icon{
    display: flex;
    justify-content: space-evenly;
    
}
i{
    padding:10px;
    font-size: 30px;
    background-color:#1877f2;
    margin:10px;
}
.fa-facebook{
    color: #fff;

}
.fa-apple{
    color:#fff;
    background-color: black;
}
.fa-solid{
    color:#fff;
    background-color:green;
}





table{
    font-size: 19px;
    font-family: "Roboto", sans-serif;
    width: 400px; 
    height: 200px;
    
    margin:20px;
}
th{
    padding: 10px;
    color:red;
}

#address{
    padding: 10px;
}
.content1{
    padding: 05px 80px 0 0;
}  



