* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    font-size: 13px;
    line-height: 27px;
    color: #757575;
    
}
.menu-root{
    padding: 8px 12px;
    list-style: none;
    height: 344px;
    width: 220px;
    margin: 0;
    position:relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    display: inline-block;
    text-align: left;
    
}
ul, li{
    list-style: none;
}

.sub-menu{
    position:absolute;
    left:210px;
    top:0px;
    padding: 8px 12px;
    height: 344px;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    display: inline-block;
    text-align: left;
    white-space: nowrap;
}
.sub-menu-child{
    position:absolute;
    left:210px;
    top:0px;
    padding: 8px 12px;
    height: 344px;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    display: inline-block;
    text-align: left;
}
.menu-item, .menu-item-diffirent, .sub-menu-item, .sub-menu-item-child{
    cursor: pointer;
}
.menu-item:hover{
color:#f36d00;
cursor: pointer;
}
.menu-item-diffirent:hover{
    cursor: pointer;
   
}
.sub-menu-item:hover {
    color:#f36d00;
    cursor: pointer;
}
.sub-menu-item-child:hover{
    color:#f36d00;  
    cursor: pointer;
}
.sub-menu{
    display: none;
}
.menu-item-diffirent:hover .sub-menu{
    display: block;
    
}
.sub-menu-child{
    display: none;
}
.sub-menu-item-diffirent:hover .sub-menu-child{
    display: block;
}
.menu-item-diffirent:hover > span {
    display: inline-block;
    color: #f36d00;
}




i{
    padding-left: 50px;
}






    

