* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: "Roboto", sans-serif;
    white-space: nowrap;
    font-size: 13px;
    line-height: 27px;
    color: #757575;
    
}
.menu-root{
    padding: 8px 0px;
    list-style: none;
    height: 344px;
    width: 220px;
    margin: 0;
    position:relative;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    display: inline-block;
    text-align: left;
    
}
ul, li{
    list-style: none;
}

.sub-menu{
    position:absolute;
    left:210px;
    top:0px;
    padding: 8px 0px;
    height: 344px;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    display: inline-block;
    text-align: left;
    white-space: nowrap;
}
.sub-menu-child{
    position:absolute;
    left:210px;
    top:0px;
    padding: 8px 12px;
    height: 344px;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    display: inline-block;
    text-align: left;
}

.sub-menu, .sub-menu-child, .fa-solid{
    display: none;
}
.menu-item:hover {
    color: #f36d00;  
}
.menu-item:hover >.icon .fa-solid {
    display: flex; 
    position: absolute;
    
}
.sub-menu-item:hover .fa-solid{
    display: flex;
}
.menu-item:hover .sub-menu{
color :#757575;
cursor: pointer;
display:flex;
flex-direction: column;

}
.sub-menu-item:hover {
    color:#f36d00
}
.sub-menu-item:hover .sub-menu-child{
    color :#757575;
cursor: pointer;
display:flex;
flex-direction: column;
}
.sub-menu-item-child:hover {
    color:#f36d00
}
.fa-solid{
    display:none;
}
.sub-menu-item:hover .sub-menu-child-item{
    color:#f36d00;
    cursor: pointer;}