<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<canvas id="myChart"></canvas>

<script th:inline="text">
  var recruiterList = /*[[${recruiterList}]]*/;

  var recruiterNames = recruiterList.map(recruiter => recruiter.name);
  var jobCounts = recruiterList.map(recruiter => recruiter.jobCount);

  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: recruiterNames,
      datasets: [{
        label: 'Số lượng công việc',
        data: jobCounts,
        backgroundColor: 'rgba(75, 192, 192, 0.2)',
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
</body>
</html>