<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Danh sách công ty</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
          rel="stylesheet">

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Select CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
          rel="stylesheet">

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!--    toastr.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Link tự viết -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-admin.css}">

    <style>
        .search-box {
            display: flex;
            align-items: center;
        }

        #searchInput {
            flex: 1;
            padding: 10px;
            max-width: 600px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
        }

        #searchButton {
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 4px;
            padding: 10px 20px;
            cursor: pointer;
        }

        #searchButton:hover {
            background-color: #0056b3;
        }
    </style>

</head>

<body>
<!--HEADER-->
<div class="header">
    <div class="sidebar">
        <div class="logo">
            <a href="/">
                <img th:src="@{/img/techjobs_bgb.png}" style="width: 100px" alt="logo">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li class="menu-item">
                    Quản lý công ty <span><i class="fa-solid fa-caret-down"></i></span>

                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="/admin/companies">Danh sách công ty</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="login-right">
        <a href="/" class="btn btn-return">Return Home</a>
    </div>
</div>

<!-- BODY -->
<div class="company-list mt-4 mb-4 ">
    <div class="container">
        <div class="mb-4" style="display: grid; grid-template-columns: auto 1fr; gap: 10px;">
            <a href="/admin/companies" class="btn-custom btn-refresh btn-refresh-small">
                <span><i class="fa-solid fa-arrow-rotate-right"></i></span>
                Refresh
            </a>
            <div class="search-box " >
                <input type="text" id="searchInput" placeholder="Tên công ty...">
                <button id="searchButton" onclick="performSearch()">Tìm kiếm</button>
            </div>
        </div>


        <div class="company-list-inner p-2  pagi">
            <table class="table company-table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên công ty</th>
                    <th>Địa chỉ</th>
                    <th>Website</th>
                    <th>Phone</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="companyTableBody" >
<!--                 Sử dụng Thymeleaf để lặp qua danh sách công ty và hiển thị -->
<!--                <tr th:each="company, companyStat : ${pageInfo.content}">-->
<!--                    <td th:text="${companyStat.index + 1}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="@{'/admin/companies/' + ${company.id}}" th:text="${company.name}"></a>-->
<!--                    </td>-->
<!--                    <td th:text="${company.address}"></td>-->
<!--                    <td>-->
<!--                        <a th:href="${company.contactInfo}" target="_blank" th:text="${company.contactInfo}"></a>-->
<!--                    </td>-->
<!--                    <td th:text="${company.phone}"></td>-->
<!--                    <td>-->
<!--                        <select class="status-dropdown selectpicker" th:data-company-id="${company.id}"-->
<!--                                th:data-style="${company.recruiterStatus == 'LOCKED' ? 'btn-danger' : 'btn-success'}">-->
<!--                            <option value="ACTIVE" th:attr="selected=${company.recruiterStatus == 'ACTIVE'}">Đang hoạt động</option>-->
<!--                            <option value="LOCKED" th:attr="selected=${company.recruiterStatus == 'LOCKED'}">Khóa</option>-->
<!--                        </select>-->
<!--                    </td>-->
<!--                </tr>-->
                </tbody>
            </table>
            <div class="pagination"></div>

            </div>

<!--             Phân trang sử dụng Thymeleaf-->
<!--            <nav aria-label="Page navigation" class="d-flex justify-content-center">-->
<!--                <ul class="pagination">-->
<!--                    <li class="page-item" th:classappend="${pageInfo.first ? 'disabled' : ''}">-->
<!--                        <a class="page-link" th:href="@{/admin/companies(page=1)}">First</a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:classappend="${pageInfo.first ? 'disabled' : ''}">-->
<!--                        <a class="page-link" th:href="@{/admin/companies(page=${currentPage - 1})}">Previous</a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:each="page : ${#numbers.sequence(1, pageInfo.totalPages)}"-->
<!--                        th:classappend="${currentPage == page ? 'active' : ''}">-->
<!--                        <a class="page-link" th:href="@{/admin/companies(page=${page})}"><span th:text="${page}"></span></a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:classappend="${pageInfo.last ? 'disabled' : ''}">-->
<!--                        <a class="page-link" th:href="@{/admin/companies(page=${currentPage + 1})}">Next</a>-->
<!--                    </li>-->
<!--                    <li class="page-item" th:classappend="${pageInfo.last ? 'disabled' : ''}">-->
<!--                        <a class="page-link" th:href="@{/admin/companies(page=${pageInfo.totalPages})}">Last</a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </nav>-->
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Bootstrap Select JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<!--  toastr.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:inline="javascript">

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
    const jwtToken = localStorage.getItem("jwtToken");

    if (!jwtToken) {
        // Chưa đăng nhập, chuyển hướng về trang đăng nhập
        window.location.href = "http://localhost:8080/splash";
    } else {
        // Lấy ra roles ở dạng mảng
        const userInfomation = JSON.parse(localStorage.getItem("userInfomation"));
        const userRoles = userInfomation.roles;
        console.log(userRoles);

        // Kiểm tra vai trò và chuyển hướng người dùng
        const pathName = window.location.pathname;

        // Nếu URL bắt đầu bằng "/admin/" và người dùng có vai trò ADMIN, cho phép truy cập.
        if (pathName.startsWith('/admin/') && userRoles.includes("ADMIN")) {
        } else {
            // Người dùng không có vai trò ADMIN hoặc URL không phù hợp, chuyển về trang chủ.
            window.location.href = "http://localhost:8080";
        }
    }

    // thay đổi trạng thái status - khóa account recruiter vi phạm
    const recruiterList = [[${recruiterList}]];
    console.log(recruiterList)
    const tbody = $(".company-table tbody");
    tbody.empty(); // Xóa nội dung tbody cũ

    $.each(recruiterList, function (index, company) {
        console.log("Company Status: " + company.recruiterStatus);
        const tr = $("<tr>");
        tr.html(`
        <td>${index + 1}</td>
        <td>
            <a href="/admin/companies/${company.id}">${company.name}</a>
        </td>
        <td>${company.address}</td>
        <td>
            <a href="${company.contactInfo}" target="_blank">${company.contactInfo}</a>
        </td>
        <td>${company.phone}</td>
       <td>
            <select class="status-dropdown selectpicker"  data-company-id="${company.id}" data-style="${company.recruiterStatus === 'LOCKED' ? 'btn-danger' : 'btn-success'}">
                 <option value="ACTIVE" ${company.recruiterStatus === 'ACTIVE' ? 'selected' : ''} class="active-option">Đang hoạt động</option>
                 <option value="LOCKED" ${company.recruiterStatus === 'LOCKED' ? 'selected' : ''} class="locked-option">Khóa</option>
            </select>
        </td>
    `);
        tbody.append(tr);
    });



    // Thay đổi trạng thái của công ty
    $('.status-dropdown').change(function () {
        const companyId = $(this).data('company-id');
        const newStatus = $(this).val();

        const button = $(this).closest('tr').find('button');
        if (newStatus === 'LOCKED') {
            button.removeClass('btn-success').addClass('btn-danger'); // Chuyển sang màu đỏ khi chọn 'Khóa'
        } else {
            button.removeClass('btn-danger').addClass('btn-success'); // Chuyển lại màu xanh khi chọn 'Đang hoạt động' hoặc các lựa chọn khác
        }
        // Gửi yêu cầu cập nhật trạng thái lên máy chủ ở đây,
        $.ajax({
            url: `/api/v1/companies/update-status/${companyId}`,
            type: 'POST',
            data: {status: newStatus},
            success: function (response) {
                toastr.success("Cập nhật trạng thái thành công");
            },
            error: function (error) {
                toastr.warning("Cập nhật trạng thái thất bại")
            }
        });
    });

    $('#searchInput').on('keydown', function(event) {
        if (event.key === 'Enter') {
            performSearch(); // Gọi hàm tìm kiếm khi nhấn Enter
        }
    });

    function performSearch() {
        const name = $('#searchInput').val();

        // Gửi yêu cầu tìm kiếm bằng Ajax
        $.ajax({
            type: 'GET',
            url: '/api/v1/companies/search',
            data: {
                name: name
            },
            success: function (response) {
                displaySearchResults(response.data);
            },
            error: function (error) {
                console.error('Lỗi tìm kiếm:', error);
            }
        });
    }

    // Function to display the search results on the page
    function displaySearchResults(recruiters) {
        const tbody = $('.company-table tbody');
        tbody.empty(); // Xóa nội dung tbody cũ

        $('.no-companies').remove();

        if (recruiters.length === 0) {
            // Nếu không tìm thấy công ty nào, hiển thị thông báo
            displayNoCompaniesFound();
        } else {
            // Nếu có kết quả tìm kiếm, hiển thị kết quả
            recruiters.forEach(function (recruiter, index) {
                const tr = $('<tr>');
                tr.html(`
                <td>${index + 1}</td>
                <td>
                    <a href="/admin/companies/${recruiter.id}">${recruiter.name}</a>
                </td>
                <td>${recruiter.address}</td>
                <td>
                    <a href="${recruiter.contactInfo}" target="_blank">${recruiter.contactInfo}</a>
                </td>
                <td>${recruiter.phone}</td>
               <td>
               <select class="status-dropdown selectpicker" data-company-id="${recruiter.id}" data-style="${recruiter.recruiterStatus === 'LOCKED' ? 'btn-danger' : 'btn-success'}">
                        <option value="ACTIVE" ${recruiter.recruiterStatus === 'ACTIVE' ? 'selected' : ''}>Đang hoạt động</option>
                        <option value="LOCKED" ${recruiter.recruiterStatus === 'LOCKED' ? 'selected' : ''}>Khóa</option>
                    </select>
                </td>
             `);
                tbody.append(tr);
                tr.find('.status-dropdown').change(function () {
                    const companyId = $(this).data('company-id')
                    const newStatus = $(this).val();

                    // Thực hiện cập nhật trạng thái trên máy chủ và cập nhật màu sắc
                    updateStatus(companyId, newStatus, $(this));

                });
            });
            $('.status-dropdown.selectpicker').selectpicker('refresh');
        }
    }

    function updateStatus(companyId, newStatus, selectElement) {
        // Gửi yêu cầu cập nhật trạng thái lên máy chủ ở đây,
        $.ajax({
            url: `/api/v1/companies/update-status/${companyId}`,
            type: 'POST',
            data: { status: newStatus },
            success: function(response) {
                toastr.success("Cập nhật trạng thái thành công");

                const button = selectElement.closest('tr').find('button');

                // Cập nhật màu sắc cho phần tử <select>
                if (newStatus === 'LOCKED') {
                    button.removeClass('btn-success').addClass('btn-danger');
                } else {
                    button.removeClass('btn-danger').addClass('btn-success');
                }
            },
            error: function(error) {
                toastr.warning("Cập nhật trạng thái thất bại");
            }
        });
    }

    // Function để hiển thị thông báo khi không tìm thấy công ty nào
    function displayNoCompaniesFound() {
        const noCompaniesDiv = $('<div>');
        noCompaniesDiv.addClass('no-companies');
        const noCompaniesMessage = $('<p>');
        noCompaniesMessage.text('Không tìm thấy công ty nào');

        noCompaniesDiv.css('text-align', 'center');
        noCompaniesMessage.css('font-size', '22px');
        noCompaniesMessage.css('color', '#ff0000');
        noCompaniesMessage.css('margin-top', '20px');

        noCompaniesDiv.append(noCompaniesMessage);
        $('.company-list-inner').append(noCompaniesDiv);
    }


</script>
</body>

</html>