<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Danh sách công ty</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
          rel="stylesheet">

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap Select CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
          rel="stylesheet">

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!--    toastr.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Link tự viết -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-admin.css}">
</head>

<body>
<!--HEADER-->
<div class="header">
    <div class="sidebar">
        <div class="logo">
            <a href="/">
                <img th:src="@{/img/techjobs_bgb.png}" style="width: 100px" alt="logo">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li class="menu-item">
                    Quản lý công ty <span><i class="fa-solid fa-caret-down"></i></span>

                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="/admin/companies">Danh sách công ty</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="login-right">
        <a href="/" class="btn btn-return">Return Home</a>
    </div>
</div>

<!-- BODY -->
<div class="company-list mt-4 mb-4">
    <div class="container">
        <div class="mb-4">
            <a href="/admin/companies" class="btn-custom btn-refresh">
                <span><i class="fa-solid fa-arrow-rotate-right"></i></span>
                Refresh
            </a>
        </div>

        <div class="company-list-inner p-2">
            <table class="table company-table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên công ty</th>
                    <th>Địa chỉ</th>
                    <th>Website</th>
                    <th>Phone</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Bootstrap Select JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--  toastr.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:inline="javascript">



    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });
    const jwtToken = localStorage.getItem("jwtToken");

    if (!jwtToken) {
        // Chưa đăng nhập, chuyển hướng về trang đăng nhập
        window.location.href = "http://localhost:8080/splash";
    } else {
        // Lấy ra roles ở dạng mảng
        const userInfomation = JSON.parse(localStorage.getItem("userInfomation"));
        const userRoles = userInfomation.roles;
        console.log(userRoles);

        // Kiểm tra vai trò và chuyển hướng người dùng
        const pathName = window.location.pathname;

        // Nếu URL bắt đầu bằng "/admin/" và người dùng có vai trò ADMIN, cho phép truy cập.
        if (pathName.startsWith('/admin/') && userRoles.includes("ADMIN")) {
        } else {
            // Người dùng không có vai trò ADMIN hoặc URL không phù hợp, chuyển về trang chủ.
            window.location.href = "http://localhost:8080";
        }
    }

    // thay đổi trạng thái status - khóa account recruiter vi phạm
    const recruiterList = [[${recruiterList}]];
    console.log(recruiterList)
    const tbody = $(".company-table tbody");
    tbody.empty(); // Xóa nội dung tbody cũ

    $.each(recruiterList, function (index, company) {
        console.log("Company Status: " + company.recruiterStatus);
        const tr = $("<tr>");
        tr.html(`
        <td>${index + 1}</td>
        <td>
            <a href="/admin/companies/${company.id}">${company.name}</a>
        </td>
        <td>${company.address}</td>
        <td>
            <a href="${company.contactInfo}" target="_blank">${company.contactInfo}</a>
        </td>
        <td>${company.phone}</td>
       <td>
            <select class="status-dropdown selectpicker"  data-company-id="${company.id}" data-style="${company.recruiterStatus === 'LOCKED' ? 'btn-danger' : 'btn-success'}">
                 <option value="ACTIVE" ${company.recruiterStatus === 'ACTIVE' ? 'selected' : ''} class="active-option">Đang hoạt động</option>
                 <option value="LOCKED" ${company.recruiterStatus === 'LOCKED' ? 'selected' : ''} class="locked-option">Khóa</option>
            </select>
        </td>
    `);
        tbody.append(tr);
    });

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });


    // Thay đổi trạng thái của công ty
    $('.status-dropdown').change(function() {
        const companyId = $(this).data('company-id');
        const newStatus = $(this).val();

        const button = $(this).closest('tr').find('button');
        if (newStatus === 'LOCKED') {
            button.removeClass('btn-success').addClass('btn-danger'); // Chuyển sang màu đỏ khi chọn 'Khóa'
        } else {
            button.removeClass('btn-danger').addClass('btn-success'); // Chuyển lại màu xanh khi chọn 'Đang hoạt động' hoặc các lựa chọn khác
        }
        // Gửi yêu cầu cập nhật trạng thái lên máy chủ ở đây,
        $.ajax({
            url: `/api/v1/companies/update-status/${companyId}`,
            type: 'POST',
            data: { status: newStatus },
            success: function(response) {
                toastr.success("Cập nhật trạng thái thành công");
            },
            error: function(error) {
                toastr.warning("Cập nhật trạng thái thất bại")
            }
        });
    });

</script>
</body>

</html>