<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Danh sách công việc</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
          rel="stylesheet">


    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Link Bootstrap Select CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" rel="stylesheet">

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!--    toastr.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Components CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css"
          integrity="sha512-QmxybGIvkSI8+CGxkt5JAcGOKIzHDqBMs/hdemwisj4EeGLMXxCm9h8YgoCwIvndnuN1NdZxT4pdsesLXSaKaA=="
          crossorigin="anonymous" referrerpolicy="no-referrer">


    <!-- Link tự viết -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-admin.css}">
</head>

<body>
<!--HEADER-->
<div class="header">
    <div class="logo">
        <a href="/">
            <img th:src="@{/img/techjobs_bgw.png}" style="width: 100px" alt="logo">
        </a>
    </div>

    <div class="sidebar ms-5">
        <div class="menu">
            <ul>
                <li class="menu-item">
                    Quản lý công việc <span><i class="fa-solid fa-caret-down"></i></span>

                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a class="btn-back">Danh sách công việc</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="/recruiter/jobs-create">Tạo công việc</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- BODY -->
<div class="job-list mt-4 mb-4">
    <div class="container">
        <div class="mb-4">
            <a href="/recruiter/jobs-create" class="btn-custom btn-create-job">
                <span><i class="fa-solid fa-plus"></i></span>
                Tạo công việc
            </a>
            <button class="btn-custom btn-refresh btn-back">
                <span><i class="fa-solid fa-arrow-rotate-right"></i></span>
                Refresh
            </button>
        </div>

        <div class="job-list-inner p-2">
            <table class="table job-table">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên công việc</th>
                    <th>Kỹ năng</th>
                    <th>Mức lương từ</th>
                    <th>Mức lương đến</th>
                    <th>Công ty</th>
                    <th>Trạng thái</th>
                </tr>
                </thead>
                <tbody>
                <!--                <tr th:each="job, info: ${jobList}">-->
                <!--                    <td th:text="${info.index + 1}">1</td>-->
                <!--                    <td>-->
                <!--                        <a th:href="@{/recruiter/jobs/{id} (id=${job.id})}" th:text="${job.title}">Legacy IT Agent</a>-->
                <!--                    </td>-->
                <!--                    <td>-->
                <!--                        <span class="me-1 badge bg-warning text-dark" th:text="${job.skill}">Devops</span>-->
                <!--                    </td>-->
                <!--                    <td th:text="${job.salaryFrom}">29,194,223 VNĐ</td>-->
                <!--                    <td th:text="${job.salaryTo}">29,194,223 VNĐ</td>-->
                <!--                    <td >-->
                <!--                        <a th:text="${job.recruiter.name}">Haley, Bailey and Brakus</a>-->
                <!--                    </td>-->

                <!--                </tr>-->
                </tbody>
            </table>
        </div>
    </div>
</div>





<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--  toastr.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<!-- Components JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"
        integrity="sha512-1zzZ0ynR2KXnFskJ1C2s+7TIEewmkB2y+5o/+ahF7mwNj9n3PnzARpqalvtjSbUETwx6yuxP5AJXZCpnjEJkQw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<!-- Link Bootstrap Select JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script th:inline="javascript">

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });

    function hasAccessToJob(job) {
        // Lấy thông tin người dùng đã đăng nhập từ localStorage
        const userInfomation = JSON.parse(localStorage.getItem("userInfomation"));
        const loggedInEmail = userInfomation.username;

        // Kiểm tra xem người dùng đã đăng nhập có cùng email với người tạo công việc hay không
        // Tách phần email trước ký tự '.'
        const loggedInEmailWithoutDomain = loggedInEmail.split('.')[0];
        console.log(loggedInEmailWithoutDomain)

        // Tách phần email của người tạo công việc trước ký tự '@'
        const jobEmailWithoutDomain = job.recruiter.user.email.split('.')[0];

        // Kiểm tra xem người dùng đã đăng nhập có cùng email với người tạo công việc hay không
        return jobEmailWithoutDomain === loggedInEmailWithoutDomain;
    }

        // Lấy danh sách công việc từ biến jobList đã có
        const jobList = [[${jobList}]];

        const tbody = $(".job-table tbody");
        tbody.empty(); // Xóa nội dung tbody cũ

        // Tạo các hàng trong bảng dựa vào dữ liệu công việc
        $.each(jobList, function (index, job) {
            // Kiểm tra xem người dùng có quyền truy cập vào công việc hay không
            const hasAccess = hasAccessToJob(job);

            const tr = $("<tr>");
            tr.html(`
            <td>${index + 1}</td>
            <td><a href="/recruiter/jobs/${job.id}">${job.title}</a></td>
            <td><span class="me-1 badge bg-warning text-dark">${job.skill}</span></td>
            <td>${job.salaryFrom}</td>
            <td>${job.salaryTo}</td>
            <td><a>${job.recruiter.name}</a></td>
            <td>
            <select class="status-dropdown selectpicker"  data-job-id="${job.id}" data-style="${job.jobStatus === 'CLOSED' ? 'btn-danger' : 'btn-success'}">
                 <option value="OPEN" ${job.jobStatus === 'OPEN' ? 'selected' : ''} >Đang hoạt động</option>
                 <option value="CLOSED" ${job.jobStatus === 'CLOSED' ? 'selected' : ''} >Khóa</option>
            </select>
        </td>
        `);
            // Nếu Recruiter truy cập sang đường link của Recruiter khác, đẩy về trang chủ
            if (!hasAccess) {
                // toastr.success("Bạn không có quyền truy cập vào job của Recruiter khác");
                setTimeout(function () {
                    window.location.href = "http://localhost:8080/splash";
                }, 1000)
            }

            tbody.append(tr);
        });



        // Thay đổi trạng thái của công ty
        $('.status-dropdown').change(function() {
            const jobId = $(this).data('job-id');
            const newStatus = $(this).val();

            const button = $(this).closest('tr').find('button');
            if (newStatus === 'CLOSED') {
                button.removeClass('btn-success').addClass('btn-danger'); // Chuyển sang màu đỏ khi chọn 'Khóa'
            } else {
                button.removeClass('btn-danger').addClass('btn-success'); // Chuyển lại màu xanh khi chọn 'Đang hoạt động' hoặc các lựa chọn khác
            }
            // Gửi yêu cầu cập nhật trạng thái lên máy chủ ở đây
            $.ajax({
                url: `/api/v1/jobs/update-status/${jobId}`,
                type: 'POST',
                data: { status: newStatus },
                success: function(response) {
                    toastr.success("Cập nhật trạng thái thành công");
                },
                error: function(error) {
                    toastr.warning("Cập nhật trạng thái thất bại")
                }
            });
        });

        // Lấy thông tin người dùng đã đăng nhập từ localStorage
        const userInfomation = JSON.parse(localStorage.getItem("userInfomation"));
        const loggedInEmail = userInfomation.username;
        const loggedInEmailWithoutDomain = loggedInEmail.split('.')[0];

        // Sự kiện khi nhấn nút "Quay lại"
        $(".btn-back").click(function () {
            window.location.href = "/recruiter/jobs?email=" + loggedInEmailWithoutDomain;
        });


</script>
</body>

</html>