<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title th:text="'Công việc ' + ${job.id}"></title>

    <!--    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">-->

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
          rel="stylesheet">

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Link Bootstrap Select CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
          rel="stylesheet">


    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!--    toastr.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Components CSS -->

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet">

    <!--    alert-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">

    <!-- Link tự viết -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-admin.css}">

    <!--  validate-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>

<body>
<!--HEADER-->
<div class="header">
    <div class="sidebar">
        <div class="logo">
            <a href="/">
                <img th:src="@{/img/techjobs_bgb.png}" style="width: 100px" alt="logo">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li class="menu-item">
                    Quản lý công việc <span><i class="fa-solid fa-caret-down"></i></span>

                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a class="btn-back">Danh sách công việc</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="/recruiter/jobs-create">Tạo công việc</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="login-right">
        <a href="/" class="btn btn-return">Return Home</a>
    </div>
</div>

<!-- BODY -->
<div class="job-container mt-4 mb-4">
    <div class="container">
        <div class="mb-4">
            <a class="btn-custom btn-refresh btn-back" style="cursor: pointer">
                <span><i class="fa-solid fa-angle-left"></i></span>
                Quay lại
            </a>
        </div>

        <div class="job-list-inner p-2">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active fw-bold" id="job-tab" data-bs-toggle="tab" data-bs-target="#job"
                            type="button" role="tab" aria-controls="job" aria-selected="true">Chi tiết công
                        việc
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link fw-bold" id="applicant-tab" data-bs-toggle="tab"
                            data-bs-target="#applicant" type="button" role="tab" aria-controls="applicant"
                            aria-selected="false">Danh sách ứng viên
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="job" role="tabpanel" aria-labelledby="job-tab">
                    <div class="d-flex justify-content-between mb-4">
                        <button class="btn-custom btn-update-job" id="updateJobButton">
                            <span><i class="fa-solid fa-plus"></i></span>
                            Cập nhật
                        </button>
                        <button class="btn-custom btn-delete-job bg-danger">
                            <span><i class="fa-solid fa-trash-can"></i></span>
                            Xóa
                        </button>
                    </div>
                    <form id="update-job-form">
                        <div class="row" id="update-form">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Công ty</label>
                                    <input th:value="${job.recruiter.name}" type="text" class="form-control" id="name"
                                           name="name">

                                </div>
                                <div class="mb-3">
                                    <label for="title" class="form-label">Tên công việc</label>
                                    <input th:value="${job.title}" type="text" class="form-control" id="title"
                                           name="title">
                                </div>
                                <div class="mb-3">
                                    <label for="dueDateTime" class="form-label">Hạn nộp</label>
                                    <input th:value="${job.dueDateTime}" type="date" class="form-control"
                                           id="dueDateTime"
                                           name="dueDateTime">

                                </div>
                                <div class="mb-3">
                                    <label for="location" class="form-label">Địa chỉ</label>
                                    <input th:value="${job.location}" type="text" class="form-control" id="location"
                                           name="location">
                                </div>
                                <div class="mb-3">
                                    <label for="jobStatus" class="form-label">Trạng thái</label>
                                    <select type="text" class="form-control" id="jobStatus" name="jobStatus">
                                        <option th:each="state : ${T(com.example.tim_kiem_viec_lam.statics.JobStatus).values()}"
                                                th:value="${state}"
                                                th:selected="${state} == ${job.jobStatus}"
                                                th:text="${state}">
                                        </option>
                                    </select>

                                </div>
                                <div class="mb-3">
                                    <label for="yoe" class="form-label">Kinh nghiệm</label>
                                    <input th:value="${job.yoe}" type="number" class="form-control" id="yoe" name="yoe">
                                </div>
                                <div class="mb-3">
                                    <label for="skill-update" class="form-label">Kỹ năng</label>
                                    <select id="skill-update" class="form-control" multiple="multiple"
                                            name="skill-update">
                                        <option value="JavaScript" th:selected="${job.skill.contains('JavaScript')}">
                                            Javascript
                                        </option>
                                        <option value="Java" th:selected="${job.skill.contains('Java')}">Java</option>
                                        <option value="Golang" th:selected="${job.skill.contains('Golang')}">Golang
                                        </option>
                                        <option value="PHP" th:selected="${job.skill.contains('PHP')}">PHP</option>
                                        <option value="React" th:selected="${job.skill.contains('React')}">React
                                        </option>
                                        <option value="AWS" th:selected="${job.skill.contains('AWS')}">AWS</option>
                                        <option value="Devops" th:selected="${job.skill.contains('Devops')}">Devops
                                        </option>
                                        <option value=".Net" th:selected="${job.skill.contains('.Net')}">.Net</option>
                                        <option value="Vue" th:selected="${job.skill.contains('Vue')}">Vue</option>
                                        <option value="Angular" th:selected="${job.skill.contains('Angular')}">Angular
                                        </option>
                                        <option value="Python" th:selected="${job.skill.contains('Python')}">Python
                                        </option>
                                        <option value="C#" th:selected="${job.skill.contains('C#')}">C#</option>
                                        <option value="SQL" th:selected="${job.skill.contains('SQL')}">SQL</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="salaryFrom" class="form-label">Mức lương tối thiểu</label>
                                    <input th:value="${job.salaryFrom}" type="number" class="form-control"
                                           id="salaryFrom"
                                           name="salaryFrom">
                                </div>
                                <div class="mb-3">
                                    <label for="salaryTo" class="form-label">Mức lương tối đa</label>
                                    <input th:value="${job.salaryTo}" type="number" class="form-control" id="salaryTo"
                                           name="salaryTo">
                                </div>
                                <div class="mb-3">
                                    <label for="literacy" class="form-label">Trình độ học vấn</label>
                                    <select type="text" class="form-control" id="literacy"
                                            name="literacy">
                                        <option th:each="state : ${T(com.example.tim_kiem_viec_lam.statics.Literacy).values()}"
                                                th:value="${state}"
                                                th:selected="${state} == ${job.literacy}"
                                                th:text="${state}">
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="workType" class="form-label">Hình thức làm việc </label>
                                    <select type="text" class="form-control" id="workType" name="workType">
                                        <option th:each="state : ${T(com.example.tim_kiem_viec_lam.statics.WorkType).values()}"
                                                th:value="${state}"
                                                th:selected="${state} == ${job.workType}"
                                                th:text="${state}">
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="col-md-9">
                                <div class="mb-3  ">
                                    <label for="benefit" class="form-label">Phúc lợi</label>
                                    <textarea th:text="${job.benefit}" rows="10" class="form-control" id="benefit"
                                              name="benefit"
                                    ></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="detail" class="form-label">Mô tả công việc</label>
                                    <textarea th:text="${job.detail}" rows="10" type="text" class="form-control"
                                              id="detail"
                                              name="detail"
                                    ></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="requirement" class="form-label">Yêu cầu công việc</label>
                                    <textarea th:text="${job.requirement}" rows="10" type="text" class="form-control"
                                              id="requirement" name="requirement"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="applicant" role="tabpanel" aria-labelledby="applicant-tab">

                    <table class="table applicant-table">
                        <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên ứng viên</th>
                            <th>Mô tả ngắn</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Link CV</th>
                            <th>Trạng thái</th>
                        </tr>
                        </thead>
                        <tbody>

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/interview-modal :: interview-modal"></div>
</div>

<!-- jQuery -->

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--  toastr.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- Components JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Link Bootstrap Select JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<input id="applicationJson" type="hidden" th:value="${applications}"/>
<script>
    window.onload = function () {

        const jwtToken = localStorage.getItem("jwtToken");

        if (!jwtToken) {
            // Chưa đăng nhập, chuyển hướng về trang đăng nhập
            window.location.href = "http://localhost:8080/splash";
        } else {
            // lấy ra roles ở dạng string
            const userInfomation = JSON.parse(localStorage.getItem("userInfomation"));
            const userRoles = userInfomation.roles[0];
            console.log(userRoles)


            // Kiểm tra vai trò và chuyển hướng người dùng
            const pathName = window.location.pathname;

            // chỉ admin được vào trang /admin/** ko có role ADMIN chuyển về trang chủ
            if (pathName.startsWith('/admin/') && !userRoles.includes("ADMIN")) {
                window.location.href = "http://localhost:8080";

                // chỉ admin và recruiter được vào trang /recruiter/**  ko có role ADMIN hoặc RECRUITER chuyển về trang chủ
            } else if (pathName.startsWith('/recruiter/') && !userRoles.includes("RECRUITER") && !userRoles.includes("ADMIN")) {
                window.location.href = "http://localhost:8080";
            }
        }
    };

    // Lấy thông tin người dùng đã đăng nhập từ localStorage
    const userInfomation = JSON.parse(localStorage.getItem("userInfomation"));
    const loggedInEmail = userInfomation.username;
    const loggedInEmailWithoutDomain = loggedInEmail.split('.')[0];

    // Sự kiện khi nhấn nút "Quay lại"
    $(".btn-back").click(function () {
        window.location.href = "/recruiter/jobs?email=" + loggedInEmailWithoutDomain;
    });

    const skill = $("#skill-update");
    skill.select2({
        placeholder: "- Chọn chủ đề",
    });

    const currentURL = window.location.href;
    const urlParts = currentURL.split('/');
    const jobId = urlParts[urlParts.length - 1];
    console.log(jobId)

    $("#update-job-form").validate({
        onfocusout: false,
        onkeyup: false,
        onclick: false,
        errorPlacement: function (error, element) {
            error.addClass("error-message");
            error.insertAfter(element.parent());
        },
        rules: {
            "name": {
                required: true,
                maxlength: 255
            },
            "title": {
                required: true,
                maxlength: 255
            },
            "salaryFrom": {
                required: true,
                min: 0, // Salary From phải lớn hơn hoặc bằng 0
                lessThanSalaryTo: true // Sử dụng quy tắc tùy chỉnh lessThanSalaryTo
            },
            "salaryTo": {
                required: true,
                min: 0 // Salary To phải lớn hơn hoặc bằng 0
            },
            "dueDateTime": {
                required: true,
            },
            "location": {
                required: true,
                maxlength: 255
            },
            "introduce": {
                required: true,
            },
            "benefit": {
                required: true,
            },
            "jobStatus": {
                required: true,
            },
            "workType": {
                required: true,
            },
            "detail": {
                required: true,
            },
            "yoe": {
                required: true,
                min: 0
            },
            "requirement": {
                required: true,
            },
        },
        messages: {
            "name": {
                required: "Bắt buộc nhập tên công việc",
                maxlength: "Hãy nhập tối đa 255 ký tự"
            },
            "title": {
                required: "Bắt buộc nhập tiêu đề tuyển dụng",
                maxlength: "Hãy nhập tối đa 255 ký tự"
            },
            "salaryFrom": {
                required: "Bắt buộc nhập mức lương từ",
                min: "Mức lương tối thiểu phải lớn hơn hoặc bằng 0"
            },
            "salaryTo": {
                required: "Bắt buộc nhập mức lương đến",
                min: "Mức lương tối đa phải lớn hơn hoặc bằng 0"
            },
            "dueDateTime": {
                required: "Hãy nhập hạn nộp"
            },
            "location": {
                required: "Bắt buộc nhập địa điểm",
                maxlength: "Hãy nhập tối đa 255 ký tự"
            },
            "introduce": {
                required: "Bắt buộc nhập giới thiệu công việc",
            },
            "benefit": {
                required: "Bắt buộc nhập quyền lợi công việc",
            },
            "jobStatus": {
                required: "Bắt buộc chọn trạng thái công việc",
            },
            "detail": {
                required: "Bắt buộc nhập mô tả công việc",
            },
            "workType": {
                required: "Bắt buộc nhập hình thức làm việc",
            },
            "yoe": {
                required: "Bắt buộc nhập số năm kinh nghiệm",
                min: "Số năm kinh nghiệm phải lớn hơn hoặc bằng 0"
            },
            "requirement": {
                required: "Bắt buộc nhập yêu cầu công việc",
            },
        }
    })
    // Thêm quy tắc tùy chỉnh lessThanSalaryTo
    $.validator.addMethod("lessThanSalaryTo", function (value, element) {
        let salaryFrom = parseFloat(value);
        let salaryTo = parseFloat($("#salaryTo").val());

        return salaryFrom < salaryTo;
    }, "Mức lương tối thiểu phải nhỏ hơn mức lương tối đa");

    $('.btn-update-job').click(function () {
        let isValidForm = $("#update-job-form").valid()
        if (!isValidForm) return

        let title = $("#title").val();
        let name = $("#name").val();
        let location = $("#location").val();
        let salaryFrom = $("#salaryFrom").val();
        let salaryTo = $("#salaryTo").val();
        let dueDateTime = $("#dueDateTime").val();
        let introduce = $("#introduce").val();
        let benefit = $("#benefit").val();
        let jobStatus = $("#jobStatus").val();
        let detail = $("#detail").val();
        let workType = $("#workType").val();
        let literacy = $("#literacy").val();
        let yoe = $("#yoe").val();
        let requirement = $("#requirement").val();
        let selectedSkills = $("#skill-update").val();
        // let selectedSkills =  $("#skill-update").val();
        // $("#skill-update").on('change', function () {
        //     selectedSkills = $(this).val();
        // });

        let request = {
            name: name,
            title: title,
            salaryFrom: salaryFrom,
            salaryTo: salaryTo,
            dueDateTime: dueDateTime,
            location: location,
            skill: selectedSkills,
            introduce: introduce,
            benefit: benefit,
            jobStatus: jobStatus,
            detail: detail,
            workType: workType,
            literacy: literacy,
            yoe: yoe,
            requirement: requirement
        }


        let jwtToken = localStorage.getItem("jwtToken")
        if (jwtToken) {
            $.ajax({
                url: "/api/v1/jobs/" + jobId,
                type: 'PUT',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(request),
                headers: {
                    'Authorization': 'Bearer' + " " + jwtToken
                },
                success: function (response) {
                    toastr.success("Cập nhật công việc thành công");
                    setTimeout(function () {
                        window.location.href = "/recruiter/jobs?email=" + loggedInEmailWithoutDomain;
                    }, 2000);
                },
                error: function (data) {
                    toastr.error("Cập nhật công việc thất bại");
                }
            });
        } else {
            toastr.warning("Bạn chưa đăng nhập")
        }

    });

    $('.btn-delete-job').click(function () {
        // Sử dụng swal() của SweetAlert2 thay vì confirm()
        let jobStatus = $("#jobStatus").val();
        if (jobStatus === 'CLOSED') {
            Swal.fire({
                title: 'Bạn có chắc muốn xóa không?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Xóa',
                cancelButtonText: 'Hủy',
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
            }).then((result) => {
                if (result.isConfirmed) {
                    let jwtToken = localStorage.getItem("jwtToken")
                    if (jwtToken) {
                        $.ajax({
                            url: '/api/v1/jobs/' + jobId,
                            type: 'DELETE',
                            contentType: "application/json; charset=utf-8",
                            headers: {
                                'Authorization': 'Bearer' + " " + jwtToken
                            },
                            success: function (data) {
                                Swal.fire({
                                    title: 'Xóa công việc thành công',
                                    icon: 'success',
                                    timer: 2000,
                                    showConfirmButton: false
                                });
                                setTimeout(function () {
                                    window.location.href = "/recruiter/jobs?email=" + loggedInEmailWithoutDomain;
                                }, 2000);
                            },
                            error: function (data) {
                                Swal.fire({
                                    title: 'Xóa thất bại',
                                    icon: 'error',
                                    timer: 2000,
                                    showConfirmButton: false
                                });
                            },
                        });
                    } else {
                        toastr.warning("Bạn chưa đăng nhập")
                    }
                }
            });
        } else {
            toastr.warning("Bạn không thể xóa công việc với trạng thái hiện tại.");
        }
    });


    // render ra hồ sơ ứng viên - fail vì lỗi biến th:inline javascript
    const application = JSON.parse($("#applicationJson").val());
    console.log(application)
    const tbody = $(".applicant-table tbody");
    tbody.empty(); // Xóa nội dung tbody cũ

    $.each(application, function (index, appli) {

        const tr = $("<tr>");
        tr.html(`
            <td>${index + 1}</td>
            <td>${appli.name}</td>
            <td>${appli.description}</td>
            <td>${appli.phone}</td>
            <td>${appli.email}</td>
           <td><a class="cv-link" href="${appli.cv}" data-application-id="${appli.id}">Click vào để xem</a></td>
            <td>
            <select class="status-dropdown selectpicker" data-application-id="${appli.id}" data-style="${appli.applicationStatus === 'REJECTED' ?
            'btn-danger' : (appli.applicationStatus === 'INTERVIEW_SCHEDULED' ? 'btn-success' : (appli.applicationStatus === 'REVIEWED' ?
                'btn-info' : 'btn-primary'))}">
                <option value="NOT_REVIEW" ${appli.applicationStatus === 'NOT_REVIEW' ? 'selected' : ''}>Chưa xem</option>
                <option value="REVIEWED" ${appli.applicationStatus === 'REVIEWED' ? 'selected' : ''}>Đã xem</option>
                <option value="REJECTED" ${appli.applicationStatus === 'REJECTED' ? 'selected' : ''}>Từ chối</option>
                <option value="INTERVIEW_SCHEDULED" ${appli.applicationStatus === 'INTERVIEW_SCHEDULED' ? 'selected' : ''}>Hẹn phỏng vấn</option>
            </select>
        </td>
        `);
        tbody.append(tr);
    });

    $(document).ready(function () {
        $('.selectpicker').selectpicker();
    });

    $('.status-dropdown').change(function () {
        const applicationId = $(this).data('application-id');
        const newStatus = $(this).val();
        const button = $(this).closest('td').find('button');

        if (newStatus === 'INTERVIEW_SCHEDULED') {
            $('#interview-modal').modal('show');

            $('.close-modal').click(function () {
                $('#interview-modal').modal('hide');

            });


            $('#save-interview').off('click').on('click', async () => {
                const interviewTime = $('#interview-time').val();
                const interviewLocation = $('#interview-location').val();

                const selectedDateTime = new Date(interviewTime);
                const currentDateTime = new Date();

                if (selectedDateTime < currentDateTime) {
                    alert('Không thể chọn ngày và giờ trong quá khứ.');
                    return;
                }

                // Kiểm tra xem đã nhập đủ thông tin hay chưa
                if (!interviewTime || !interviewLocation) {
                    alert('Vui lòng nhập thông tin thời gian và địa điểm phỏng vấn.');
                    return;
                }

                // Gửi yêu cầu cập nhật trạng thái và thông tin phỏng vấn lên máy chủ
                $.ajax({
                    url: `/api/v1/applications/update-status/${applicationId}`,
                    type: 'POST',
                    data: {
                        status: 'INTERVIEW_SCHEDULED',
                        interviewTime: interviewTime,
                        interviewLocation: interviewLocation
                    },
                    success: function (response) {
                        toastr.success('Hẹn phỏng vấn thành công');
                        // Đóng modal
                        $('#interview-modal').modal('hide');
                    },
                    error: function (error) {
                        toastr.warning('Hẹn phỏng vấn thất bại');
                    }
                });
            });

            button.removeClass('btn-primary btn-danger btn-info').addClass('btn-success');
        } else {
            // Chỉ gửi yêu cầu AJAX khi trạng thái không phải là "Hẹn phỏng vấn"
            $.ajax({
                url: `/api/v1/applications/update-status/${applicationId}`,
                type: 'POST',
                data: { status: newStatus },
                success: function (response) {
                    toastr.success("Cập nhật trạng thái thành công");
                },
                error: function (error) {
                    toastr.warning("Cập nhật trạng thái thất bại")
                }
            });

            if (newStatus === 'REJECTED') {
                button.removeClass('btn-primary btn-success btn-info').addClass('btn-danger');
            } else if (newStatus === 'REVIEWED') {
                button.removeClass('btn-danger btn-success btn-primary ').addClass('btn-info');
            } else {
                button.removeClass('btn-danger btn-success btn-info').addClass('btn-primary');
            }
        }
    });

    $('.cv-link').click(function (event) {
        event.preventDefault(); // Ngăn chặn sự kiện mặc định

        const applicationId = $(this).data('application-id');
        const selectElement = $(`select[data-application-id="${applicationId}"]`);

        // Thực hiện cập nhật trạng thái "Đã xem" lên máy chủ
        $.ajax({
            url: `/api/v1/applications/update-status/${applicationId}`,
            type: 'POST',
            data: { status: 'REVIEWED' },
            success: function (response) {
                toastr.success('Cập nhật trạng thái thành công');

                // Cập nhật trạng thái trên giao diện người dùng nếu cần thiết
                selectElement.val('REVIEWED').selectpicker('refresh');
                const button = selectElement.closest('td').find('button');
                button.removeClass('btn-primary btn-danger btn-success btn-info').addClass('btn-info');
            },
            error: function (error) {
                toastr.warning('Cập nhật trạng thái thất bại');
            }
        });

        // Mở liên kết CV trong tab mới sau khi đã cập nhật trạng thái
        const cvLink = $(this).attr('href');
        window.open(cvLink, '_blank');
    });


</script>
</body>

</html>