<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý mượn sách</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.4/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<body>
<div class="container my-3 py-3">
    <div class="row">
        <div class="col">
            <ul class="second-menu d-flex justify-content-center " style="list-style: none; font-size: 25px; ">
                <li class="link-text px-4 mx-4 " ><a href="/books">Quản lý sách</a>
                </li>
                <li class="link-text px-4 mx-4 " >
                    <a href="/readers">Quản lý bạn đọc</a>
                </li>
                <li class="link-text px-4 mx-4 " >
                    <a href="/borrowBooks">Quản lý mượn sách</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<div class="container">

    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="/borrowBooks/create-form">Tạo mới</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Họ Và Tên</th>
                    <th class="text-center">Tên đầu sách</th>
                    <th class="text-center">Số lượng mượn</th>
                    <th class="text-center">Thể loại sách</th>
                    <th class="text-center">Loại người đọc</th>
                    <th class="text-center">Sửa</th>
                </tr>
                <tr th:each="u: ${danhSachBook}">
                    <td th:text="${u.id}"/>
                    <td th:text="${u.name}"/>
                    <td th:text="${u.author}"/>
                    <td th:text="${u.publishedYear}"/>
                    <td th:text="${u.specialization}"/>
                    <td class="d-flex justify-content-center">
                        <a role="button" class="mr-3 text-primary"
                           th:href="@{'/borrowBooks/'+${u.id}+'/edit'}">
                            <i class="fas fa-pencil-alt"></i>
                        </a>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>