<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      th:replace="~{layout/layout :: main-fragment(~{:: title}, ~{:: #css}, ~{:: .jd-page}, ~{:: #js})}">
<head>
    <meta charset="UTF-8">
    <title>TechJobs</title>
    <th:block id="css">
        <link rel="stylesheet" th:href="@{/css/owlcarousel/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/owlcarousel/owl.theme.default.min.css}">
    </th:block>
</head>
<body>
<div class="jd-page">
    <!-- job detail header -->
    <div class="container-fluid job-detail-wrap">
        <div class="container job-detail">
            <div class="job-detail-header">
                <div class="row">
                    <div class="col-md-2 col-sm-12 col-12">
                        <div class="job-detail-header-logo">
                            <a href="#">
                                <img th:src="'/api/v1/files/'+${job.recruiter.fileId.name}" class="job-logo-ima"
                                     alt="job-logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-12 col-12">
                        <div class="job-detail-header-desc">
                            <div class="job-detail-header-title">
                                <a href="#" th:text="${job.title}"> </a>
                            </div>
                            <div class="job-detail-header-company">
                                <a href="#" th:text="${job.recruiter.name}"></a>
                            </div>
                            <div class="job-detail-header-de">
                                <ul>
                                    <li><i class="fa fa-map-marker icn-jd"></i><span th:text="${job.location}"></span>
                                    </li>
                                    <i class="fa fa-usd icn-jd"></i>
                                    <span th:text="${job.salaryFrom} + ' triệu - ' + ${job.salaryTo} + ' triệu'"></span>
                                    <li><i class="fa fa-calendar icn-jd"></i><span th:text="${job.dueDateTime}"></span>
                                    </li>
                                </ul>
                            </div>
                            <div class="job-detail-header-tag">
                                <ul>
                                    <li>
                                        <a href="#" th:text="${job.skill.substring(1, job.skill.length() - 1)}">Java</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-12">
                        <div class="jd-header-wrap-right">
                            <div class="jd-center">
                                <a href="#" class="btn btn-primary btn-apply">Nộp đơn</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- (end) job detail header -->

    <div class="clearfix"></div>

    <!-- Phần thân -->
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <!-- Main wrapper -->
                <div class="col-md-8 col-sm-12 col-12 clear-left">
                    <div class="main-wrapper">
                        <h2 class="widget-title">
                            <span>Phúc lợi</span>
                        </h2>
                        <!-- content -->
                        <div class="jd-content"  th:text="${job.benefit}">
                        </div>
                        <h2 class="widget-title">
                            <span>Mô tả công việc</span>
                        </h2>
                        <div class="jd-content" th:text="${job.detail}">

                        </div>
                        <h2 class="widget-title">
                            <span>Yêu cầu công việc</span>
                        </h2>
                        <div class="jd-content" th:text="${job.requirement}">

                        </div>

                    </div>


                </div>


                <!-- Sidebar -->
                <div class="col-md-4 col-sm-12 col-12 clear-right">
                    <div class="side-bar mb-3">
                        <h2 class="widget-title">
                            <span>Thông tin</span>
                        </h2>

                        <div class="job-info-wrap">
                            <div class="job-info-list">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="ji-title">Nơi làm việc:</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="ji-main" th:text="${job.location}"></span>
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="job-info-list">-->
                            <!--                                <div class="row">-->
                            <!--                                    <div class="col-sm-4">-->
                            <!--                                        <span class="ji-title">Cấp bậc:</span>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="col-sm-8">-->
                            <!--                                        <span class="ji-main">Nhân viên</span>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <div class="job-info-list">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="ji-title">Lương:</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="ji-main"
                                              th:text="${job.salaryFrom} + ' triệu - ' + ${job.salaryTo} + ' triệu'">1000$ - 3000$</span>
                                    </div>
                                </div>
                            </div>

                            <div class="job-info-list">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="ji-title">Hạn nộp:</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="ji-main" th:text="${job.dueDateTime}">31/12/2019</span>
                                    </div>
                                </div>
                            </div>

                            <!--                            <div class="job-info-list">-->
                            <!--                                <div class="row">-->
                            <!--                                    <div class="col-sm-4">-->
                            <!--                                        <span class="ji-title">Ngành nghề:</span>-->
                            <!--                                    </div>-->
                            <!--                                    <div class="col-sm-8">-->
                            <!--                                        <span class="ji-main">Quảng cáo, Đối ngoại</span>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->

                            <div class="job-info-list">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="ji-title">Kỹ năng:</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="ji-main"
                                              th:text="${job.skill.substring(1, job.skill.length() - 1)}">PR Activity</span>
                                    </div>
                                </div>
                            </div>

                            <div class="job-info-list">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="ji-title">Kinh nghiệm:</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="ji-main" th:text="${job.yoe} + ' năm'">1 năm</span>
                                    </div>
                                </div>
                            </div>
                            <div class="job-info-list">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="ji-title">Trình độ :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="ji-main" th:text="${job.literacy.name}"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="job-info-list">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <span class="ji-title">Hình thức :</span>
                                    </div>
                                    <div class="col-sm-8">
                                        <span class="ji-main" th:text="${job.workType.name}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="side-bar mb-3">
                        <h2 class="widget-title">
                            <span>Giới thiệu công ty</span>
                        </h2>
                        <div class="company-intro">
                            <a href="#">
                                <img th:src="'/api/v1/files/'+${job.recruiter.fileId.name}" class="job-logo-ima"
                                     alt="job-logo">
                            </a>
                        </div>
                        <h2 class="company-intro-name" th:text="${job.recruiter.name}">Fpt Software</h2>
                        <ul class="job-add">
                            <li>
                                <i class="fa fa-map-marker ja-icn"></i>
                                <span th:text="${job.recruiter.address}">Trụ sở: 212 Phan Đăng Lưu - Hòa Cường Bắc - Hải Châu - Đà Nẵng </span>
                            </li>
                            <!--                            <li>-->
                            <!--                                <i class="fa fa-bar-chart ja-icn"></i>-->
                            <!--                                <span>Quy mô công ty: 50-100 người</span>-->
                            <!--                            </li>-->
                        </ul>

                        <div class="wrap-comp-info mb-2">
                            <a th:href="'https://'+${job.recruiter.contactInfo}" class="btn btn-primary btn-company">Xem
                                thêm</a>
                        </div>
                    </div>

                    <div class="side-bar mb-3">
                        <h2 class="widget-title">
                            <span>Việc làm tương tự</span>
                        </h2>


                            <div class="job-tt-contain" th:each="job :${SimilarListJob}">

                                <div class="job-tt-item">
                                    <a th:href="@{/jd-page/{id}(id=${job.id})}" class="thumb">
                                        <img th:src="'/api/v1/files/'+${job.recruiter.fileId.name}">
                                    </a>

                                    <div class="info">
                                        <a th:href="@{/jd-page/{id}(id=${job.id})}" class="jobname" th:text="${job.title}">

                                        </a>
                                        <a th:href="@{/jd-page/{id}(id=${job.id})}" class="company" th:text="${job.recruiter.name}"></a>


                                    </div>
                                </div>

                            </div>
                    </div>

                    <div class="side-bar mb-3">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="home-ads">
                                        <a href="#">
                                            <img th:src="@{/img/ads1.jpg}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- (end) Phần thân -->

    <div th:replace="fragments/application-modal :: application-modal"></div>
</div>
<!-- (end) job support -->

<th:block id="js">
    <script type="text/javascript" th:src="@{/js/readmore.js}"></script>
    <script type="text/javascript" src="/jsmain/signin.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.9.1/firebase-storage.js"></script>
    <script type="text/javascript">
        $('.catelog-list').readmore({
            speed: 75,
            maxHeight: 150,
            moreLink: '<a href="#">Xem thêm<i class="fa fa-angle-down pl-2"></i></a>',
            lessLink: '<a href="#">Rút gọn<i class="fa fa-angle-up pl-2"></i></a>'
        });
    </script>
    <script th:inline="javascript">
        const job = [[${job}]];

        let firebaseConfig = {
            apiKey: "AIzaSyBd79sSD4tMr-HWBxg1zJNJMvG_lVcncx8",
            projectId: "job-hunt-c9d49",
            storageBucket: "job-hunt-c9d49.appspot.com",
        };
        // Khởi tạo Firebase
        firebase.initializeApp(firebaseConfig);
        // Lấy tham chiếu đến Firebase Storage bucket
        let storage = firebase.storage();
        let storageRef = storage.ref();

        // Lấy thông tin người dùng đã đăng nhập từ localStorage
        // const userInfomation = JSON.parse(localStorage.getItem("userInfomation"));
        // const loggedInEmail = userInfomation.username;
        // console.log(loggedInEmail)

        $('.btn-apply').click(() => {
            $('#application-modal').modal('show');

            let jwtToken = localStorage.getItem("jwtToken")
            if (jwtToken) {
                $('.btn-upload-file').click(() => {
                    $('#filer-input').click();
                });

                $("#user-cv").click(() => {
                    $("filer-input").click();
                });

                let chosenFile = null;
                $('#filer-input').change(event => {
                    const tempFiles = event.target.files;
                    const maxSizeInBytes = 5242880;
                    if (!tempFiles || tempFiles.length === 0) {
                        return;
                    }
                    chosenFile = tempFiles[0];
                    if (chosenFile && chosenFile.size > maxSizeInBytes) {
                        alert("File size exceeded the allowed limit (5MB)!");
                        this.value = '';
                        return;
                    }

                    $("#user-cv").text(chosenFile.name);

                    const imageBlob = new Blob([chosenFile], {type: chosenFile.type});
                    const imageUrl = URL.createObjectURL(imageBlob);
                    $("#user-cv").attr("src", imageUrl);
                });


                $('#save-cv').click(async () => {
                    // Tắt nút nộp CV
                    $('#save-cv').prop('disabled', true);
                    // Lấy nội dung trong ô input
                    let phone = $("#phone").val();
                    let name = $("#name").val();
                    let email = $("#email").val();
                    let description = $("#description").val();

                    let request = {
                        name: name,
                        phone: phone,
                        email: email,
                        description: description,
                        cv: ""
                    }

                    if (chosenFile != null) {
                        request.cv = await uploadImage(chosenFile)
                        applyJob(request);
                    } else {
                        applyJob(request);
                    }

                    async function uploadImage(chosenFile) {
                        try {
                            let imageName = chosenFile.name;
                            let imageRef = storageRef.child("images/" + imageName);
                            let snapshort = await imageRef.put(chosenFile);
                            return await snapshort.ref.getDownloadURL();
                        } catch (error) {
                            throw error;
                        }
                    }

                    function applyJob(request) {
                        $.ajax({
                            url: "/api/v1/applications/" + [[${job.id}]],
                            type: 'POST',
                            contentType: "application/json; charset=utf-8",
                            data: JSON.stringify(request),
                            success: function (response) {
                                toastr.success("Nộp cv thành công");

                                // Bật lại nút nộp CV sau khi hoàn thành
                                $('#save-cv').prop('disabled', false);
                                setTimeout(function () {
                                    window.location.href = '/';
                                }, 1000)

                            },
                            error: function (data) {
                                console.log(data);
                                toastr.error("Lỗi khi nộp cv");

                                // Bật lại nút nộp CV sau khi xảy ra lỗi
                                $('#save-cv').prop('disabled', false);
                            }
                        });
                    }
                })
            } else {
                window.location.href = "http://localhost:8080/login-employees";
            }
        });

    </script>
</th:block>


</body>
</html>