<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tạo công ty</title>

    <link rel="icon" type="image/png" sizes="16x16" href="/image/favicon-16x16.png">

    <!-- Link google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&amp;display=swap"
          rel="stylesheet">

    <!-- Link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Link icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!--    toastr.js-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
          integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
          crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- Components CSS -->


    <!-- Link tự viết -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-admin.css}">
</head>

<body>
<!--HEADER-->
<div class="header">
    <div class="logo">
        <a href="/admin/companies">
            <img th:src="@{/img/techjobs_bgw.png}"style="width: 100px" alt="logo">
        </a>
    </div>

    <div class="sidebar ms-5">
        <div class="menu">
            <ul>
                <li class="menu-item">
                    Quản lý công ty <span><i class="fa-solid fa-caret-down"></i></span>

                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="/admin/companies">Danh sách công ty</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="/admin/companies-create">Tạo công ty</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item">
                    Quản lý công việc <span><i class="fa-solid fa-caret-down"></i></span>

                    <ul class="sub-menu">
                        <li class="sub-menu-item">
                            <a href="/admin/jobs">Danh sách công việc</a>
                        </li>
                        <li class="sub-menu-item">
                            <a href="/admin/jobs-create">Tạo công việc</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- BODY -->
<div class="company-list mt-4 mb-4">
    <div class="container">
        <div class="mb-4">
            <button class="btn-custom btn-create-company">
                <span><i class="fa-solid fa-plus"></i></span>
                Tạo
            </button>
            <a href="/admin/companies" class="btn-custom btn-refresh">
                <span><i class="fa-solid fa-angle-left"></i></span>
                Quay lại
            </a>
        </div>

        <form class="company-list-inner p-2">
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="company-name" class="form-label">Tên công ty</label>
                        <input type="text" class="form-control" id="company-name" name="company-name">
                    </div>
                    <div class="mb-3">
                        <label for="company-website" class="form-label">Website</label>
                        <input type="text" class="form-control" id="company-website" name="contactInfo">
                    </div>
                    <div class="mb-3">
                        <label for="company-address" class="form-label">Địa chỉ</label>
                        <input class="form-control" id="company-address" name="address">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="company-phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="company-phone" name="phone">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--  toastr.js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
        integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
    $(document).ready(function () {

        $(".company-list-inner").validate({
            onfocusout: false,
            onkeyup: false,
            onclick: false,
            errorPlacement: function (error, element) {
                error.addClass("error-message");
                error.insertAfter(element.parent());
            },
            rules: {
                "company-name": {
                    required: true,
                    maxlength: 255
                },
                "contactInfo": {
                    required: true,
                    maxlength: 255
                },
                "address": {
                    required: false,
                    maxlength: 255
                },
                "phone": {
                    required: true,
                    phone: true
                }
            },
            messages: {
                "company-name": {
                    required: "Bắt buộc nhập tên công ty",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "contactInfo": {
                    required: "Hãy nhập website",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "address": {
                    required: "Hãy nhập địa chỉ công ty",
                    maxlength: "Hãy nhập tối đa 255 ký tự"
                },
                "phone": {
                    required: "Hãy nhập số điện thoại công ty",
                    phone: "SDT chưa đúng định dạng"
                }
            }
        })
        $('#job-create-btn').click(function () {
            let isValidForm = $("#create-job-form").valid()
            if (!isValidForm) return

            // Lấy nội dung trong ô input
            let request = {
                name: $("#company-name").val(),
                contactInfo: $("#company-website").val(),
                address: $("#company-address").val(),
                phone: $("#company-phone").val()
            }
            $.ajax({
                url: "/api/v1/recruiters",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(request),
                success: function (response) {
                    toastr.success("Thêm công việc thành công");
                },
                error: function (data) {
                    console.log(data);
                    toastr.error("Lỗi khi thêm công việc");
                }
            });
        })
    });

</script>

</body>

</html>